.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-5) var(--space-4);
}

.content {
  max-width: 900px;
  margin: var(--space-6) auto 0;
  display: grid;
  gap: var(--space-3);
}

.content p {
  text-align: justify;
}

@media (width <= 900px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
